body {
    background-color: lemonchiffon;
}

h1 {
    width: 830px;
    display: inline-block;
}

div {
    margin: auto;
    max-width: 830px;
}

tr, td, th {
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px 5px 10px 5px;
}